
* {
    box-sizing
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.sound {
    height: 50px;
    width: 50vw;
    position: relative;
}

